<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content ="IE=edge">
    <title>Page Title</title>
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>from python dict to javascript/json/html table</h1>
    <h2>data to present: </h2>
        <script type='text/javascript', src='declare.js'></script>
        <script>
        var jsonvar = JSON.parse(jasonstr)
        document.write('length is: ', jsonvar.length)


        </script>

</body>
</html>