<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <meta charset="ISO-8859-1">  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/species.css') }}">
    <title>Marigold{{ species.name }}</title>
    <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/564x/e1/02/63/e1026335dfabb539595e3fa6ecd204ec.jpg">
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="D:\\Project_IAS\\ProjectCode\\Semantic-UI-CSS-master\\semantic.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">



    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/species.css') }}">
    <title>{{ species.name }}</title>
  </head>
  <body>
    {% set selected_species = request.args.get('selected_species') %}
    {% set selected_key = names_dict.get(selected_species) %}
    {% set selected_value = species_ra_info.get(selected_key) %}
    <div class="ui container">
      <div class="ui segment">
        <div class="ui grid">
          <div class="sixteen wide column">
          <div class="ui orange header" >Selected species: <span style="font-style: italic;">{{ request.args.get('selected_species') }}</span></div>
          <p>Observation data gathered from: <a href="https://waarneming.nl/species/{{ selected_key }}" target="_blank">https://waarneming.nl/species/{{ selected_key }}</a> </p></p>
          <p>Note: Observation data is momentarily still only a snapshot of march 2018 - march 2023. Data pictured is yet to be showed on website.</p> 
          <div class="ui section divider"></div>
          <table class="ui celled table">
            <thead>
              <p>Risk Assessment websites presenting data or assessments available:</p>
              <tr>
                <th>Risk Assessment database / website</th>
                <th>Link to database / website</th>
              </tr>
            </thead>
            <tbody>
              {% for row in ra_data %}
                <tr>
                  <td>{{ row[0] }}</td>
                  <td><a href="{{ row[1] }}" target="_blank">{{ row[1] }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="ui section divider"></div>

          <h1 class="ui medium orange italic header ">Market Segment here.</h1>
          <table>
            <thead>
              <p>Stores offering the species:</p>

            </thead>
            <ul>
              {% for item in MA_stores_list %}
                {% if item != "No offers for the species found in any webstores." %}
                  <li><a href="{{ item.split(': ')[1] }}" target="_blank">{{ item.split(': ')[0] }}</a></li>
                {% elif item == "No offers for the species found in any webstores." %}
                  <li><a class="black-text">{{item}}</a></li>
                {% endif %}

              {% endfor %}
            </ul>
            
          </table>
          <div class="ui section divider"></div>
            <h1 class="ui medium orange italic header ">General statistics - data sourced from Waarnemingen.nl and Google Trends</h1>
              <h2 class="ui small orange header">Cummulative observation counts:</h2>
              {% if encoded_cummul_img != "None" %}
                <img src="data:image/png;base64,{{ encoded_cummul_img }}" alt="Image description" style="width: 75%; height: auto;"> 
              {% elif encoded_cummul_img == "None" %} 
                <p>No cummulative observation data available at present time.</p>
              {% endif %}
              <h2 class="ui small orange header">Province obseravtion counts:</h2>
              {% if encoded_province_counts_img != "None" %}
                <img src="data:image/png;base64,{{ encoded_province_counts_img }}" alt="Image description" style="width: 75%; height: auto;">
              {% elif encoded_province_counts_img == "None" %} 
                <p>No province counts data available at present time.</p>
              {% endif %}
              <h2 class="ui small orange header">Google Trends vs Waarnemingen Observations plotten over 20 years time:</h2>
              {% if encoded_trends_plot != "None" %}
                <img src="data:image/png;base64,{{ encoded_trends_plot }}" alt="Image description" style="width: 80%; height: auto;">
              {% elif encoded_trends_plot == "None" %} 
                <p>No province counts data available at present time.</p>
              {% endif %}
              <div class="ui section divider"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>


